body {
  height: 100vh;
  overflow-y: hidden;
}

section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  }

div.video {
  width: 800px;
  height: 540px;
  z-index: 0;
}


div.buttons {
  flex-direction: row;
}

div.option {
  margin: 20px 0 0 0;

}
